.mobileMenuContainer {
    display: flex;
    position: relative;



    // #desktop-clear {
    //     position: absolute;
    //     right: 12px;
    //     top: 12px;
    //     background: #ffffff;
    //     border: none;

    // }

    #closeIconDesktop {
        width: 24px;
        height: 24px;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // margin-right: 24px;
        // top: 15px;
    }

    #closeIconDesktop span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    /* Icon 3 */
    #closeIconDesktop span:nth-child(1) {
        top: 4px;
    }

    #closeIconDesktop span:nth-child(2),
    #closeIconDesktop span:nth-child(3) {
        top: 12px;
    }

    #closeIconDesktop span:nth-child(4) {
        top: 20px;
    }

    #closeIconDesktop.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
    }

    #closeIconDesktop.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #closeIconDesktop.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #closeIconDesktop.open span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }



    .nav-container-ux {
        background-color: #21446f;
        display: flex;
        width: 100%;
        position: absolute;
        // min-width: 320px;
        max-width: 475px;
        top: 70px;
        z-index: 1111;
        min-height: 100%;
        height: auto;
        left: -490px;
        transition: 0.2s ease-in-out;
        border: solid 1px #ccc;
        box-shadow: 3px 3px 8px #ccc;
        background-color: #fff;
        border-radius: 3px 3px 0 0;
        flex-direction: column;
    }

    .nav-container-ux.open {
        left: 0;
    }


    /* Dropdown Button */
    button {
        padding: 4px 8px;
        border-radius: 8px 0 0 8px;
        color: white;
        background-color: var(--color-button-default);
        border: none;
        box-shadow: none;
        min-height: 36px;
        font-size: 16px;
        display: flex;
        align-items: center;
        // width: 100%;
        justify-content: center;
        cursor: pointer;
        z-index: 2;

        &.secondary {
            background-color: var(--color-button-secondary);
        }

        &.outline {
            background-color: var(--color-button-outline);
            border: 1px solid var(--color-button-default);
            color: var(--color-button-default);

            &:hover {
                background-color: var(--color-clear-button-hover);
            }

            &:disabled {
                background-color: var(--color-button);
                border: 1px solid var(--color-background-disabled);
                color: var(--color-background-disabled);
            }
        }

        &.clear {
            background-color: var(--color-transparent);
            color: var(--color-button-default);

            &:hover {
                background-color: var(--color-clear-button-hover);
            }

            &:disabled {
                background-color: var(--color-transparent);
                color: var(--color-background-disabled);
            }
        }

        &.small {
            min-height: 30px;
            min-width: 30px;
        }

        &.medium {
            min-height: 36px;
            min-width: 36px;
        }

        &.large {
            min-height: 42px;
            min-width: 42px;
        }
    }

    .success {
        color: var(--color, var(--color-text-button));
        background-color: var(--color, var(--color-success));

        &.outline {
            background-color: var(--color-button-outline);
            border: 1px solid var(--color-success);
            color: var(--color-success);

            &:hover {
                background-color: var(--color-clear-button-success-hover);
            }

            &:disabled {
                background-color: var(--color-button);
                border: 1px solid var(--color-background-disabled);
                color: var(--color-background-disabled);
            }
        }

        &.clear {
            background-color: var(--color-transparent);
            color: var(--color-success);

            &:hover {
                background-color: var(--color-clear-button-success-hover);
            }

            &:disabled {
                background-color: var(--color-transparent);
                color: var(--color-background-disabled);
            }
        }
    }

    .warning {
        color: var(--color, var(--color-text-button));
        background-color: var(--color, var(--color-warning));

        &.outline {
            background-color: var(--color-button-outline);
            border: 1px solid var(--color-warning);
            color: var(--color-warning);

            &:hover {
                background-color: var(--color-clear-button-warning-hover);
            }

            &:disabled {
                background-color: var(--color-button);
                border: 1px solid var(--color-background-disabled);
                color: var(--color-background-disabled);
            }
        }

        &.clear {
            background-color: var(--color-transparent);
            color: var(--color-warning);

            &:hover {
                background-color: var(--color-clear-button-warning-hover);
            }

            &:disabled {
                background-color: var(--color-transparent);
                color: var(--color-background-disabled);
            }
        }
    }

    .error {
        color: var(--color, var(--color-text-button));
        background-color: var(--color, var(--color-error));

        &.outline {
            background-color: var(--color-button-outline);
            border: 1px solid var(--color-error);
            color: var(--color-error);

            &:hover {
                background-color: var(--color-clear-button-error-hover);
            }

            &:disabled {
                background-color: var(--color-button);
                border: 1px solid var(--color-background-disabled);
                color: var(--color-background-disabled);
            }
        }


        &.clear {
            background-color: var(--color-transparent);
            color: var(--color-error);

            &:hover {
                background-color: var(--color-clear-button-error-hover);
            }

            &:disabled {
                background-color: var(--color-transparent);
                color: var(--color-background-disabled);
            }
        }
    }

    .default {
        color: var(--color, var(--color-text-button));
        background-color: var(--color, var(--color-button-default));
    }

    .disabled {
        background-color: var(--color, var(--color-background-disabled));
        color: var(--color, var(--color-text-disabled));
        cursor: not-allowed;
    }

    :disabled {
        background-color: var(--color, var(--color-background-disabled));
        color: var(--color, var(--color-text-disabled));
        cursor: not-allowed;
    }

    .standard {
        color: var(--color, var(--color-text-button));
        background-color: var(--color, var(--color-button-default));
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown button {
        position: relative;
        display: inline-flex;
        border-radius: 0 8px 8px 0;
        border-left: 1px solid white;
        z-index: 2;

        &:hover {
            opacity: 0.9;
        }
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        // display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        left: 0px;
        top: 100%;
        filter: drop-shadow(1px 2px 3px #5f5f5f);
        width: auto;
        display: flex;
        flex-direction: column;

        &.close {
            display: none;
        }

        &.open {
            display: block;
        }
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: auto;
        display: flex;
        text-wrap: nowrap;

        &.subItem {
            padding: 12px 16px 12px 32px;
        }
    }

    .down-arrow {
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin: 0 4px;
        // height: 0;
        // margin-right: 8px;
        position: relative;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: -2px;
        z-index: 1;
        pointer-events: none;

    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu on hover */
    .dropdown.open .dropdown-content {
        display: block;

    }

    // .dropdown.open .dropdown-content {
    //     display: block;
    // }

    // .dropdown.close .dropdown-content {
    //     display: none;
    // }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .btn:hover,
    .dropdown:hover .btn {
        background-color: #0b7dda;
    }
}