.header-container {
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;

    .left {
        display: flex;
        width: 100%;
        padding: 0 12px;
    }

    .right {
        display: flex;
        width: auto;
        padding: 0 12px;
        align-items: center;
        gap: 12px;

        a {
            color: var(--color-button-default);
        }
    }

    .header-name {
        font-size: 38px;
        font-weight: var(--roboto-bold);
        margin: 0;
        cursor: pointer;
    }

    @media screen and (max-width:559px) and (min-width: 476px) {
        .header-name {
            font-size: 20px;
        }
    }

    @media only screen and (max-width:475px) {
        .header-name {
            font-size: 16px;
        }
    }


}