.header-container {
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.5);

    .left {
        display: flex;
        width: 100%;
        padding: 0 12px;
    }

    .right {
        display: flex;
        width: auto;
        padding: 0 12px;
        align-items: center;
        gap: 12px;

        a {
            color: var(--color-button-default);
        }
    }

    .desktop-right-menu {
        display: flex;
    }

    .desktop-left-menu {
        display: flex;
    }

    .mobile-right-menu {
        display: none;
    }

    .mobile-left-menu {
        display: none;
    }


    .header-name {
        font-size: 38px;
        font-weight: var(--roboto-bold);
        margin: 0;
        cursor: pointer;
    }

    @media only screen and (max-width:768px) {
        .header-name {
            font-size: 20px;
        }
    }

    @media only screen and (max-width:475px) {
        .header-name {
            font-size: 16px;
        }

        .desktop-right-menu {
            display: none;
        }

        .desktop-left-menu {
            display: none;
        }

        .mobile-right-menu {
            display: flex;
        }

        .mobile-left-menu {
            display: flex;
        }

    }


}