@use "tailwindcss";

/* You can add global styles to this file, and also import other style files */
:root {
  --color-success: green;
  --color-warning: #ffc400;
  --color-error: #ff0000;
  --color-text-disabled: lightgray;
  --color-background-disabled: rgba(128, 128, 128, 0.2);
  --color-button-default: 0, 124, 186;
  --color-button-secondary: #001C29;
  --color-text-button: white;
  --color-button-outline: white;
  --color-transparent: transparent;
  --color-clear-button-hover: rgba(155, 155, 155, 0.2);
  --color-clear-button-success-hover: rgba(144, 238, 144, 0.2);
  --color-clear-button-warning-hover: rgba(255, 196, 0, 0.2);
  --color-clear-button-error-hover: rgb(255, 71, 71, 0.2);
  --base-text-color: rgb(0, 28, 41);
  --color-info: #9747FF;
  --roboto: "Roboto", sans-serif;
  --roboto-thin: 100;
  --roboto-light: 300;
  --roboto-regular: 400;
  --roboto-medium: 500;
  --roboto-bold: 700;
  --roboto-black: 900;
  --roboto-italic: italic;
  --roboto-normal: normal;
}

html * {
  box-sizing: border-box;
}

body * {
  font-family: var(--roboto);
  font-size: 16px;
  font-variant-ligatures: none;
  color: var(--base-text-color);
}

// @import '../src/assets/css/font/font.scss';



html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

app-root {
  z-index: 1;
}

app-toast,
.toast {
  z-index: 2;
}

h1 {
  font-size: 42px;
  margin: 12px 0;
}

h2 {
  font-size: 36px;
  margin: 12px 0;
}

h3 {
  font-size: 30px;
  margin: 12px 0;
}

h4 {
  font-size: 24px;
  margin: 12px 0;
}

h5 {
  font-size: 18px;
  margin: 12px 0;
}

.font42 {
  font-size: 42px;
}

.font36 {
  font-size: 36px;
}

.font30 {
  font-size: 30px;
}

.font24 {
  font-size: 24px;
}

.font18 {
  font-size: 18px;
}

.font-thin {
  font-weight: var(--roboto-thin);
}

.font-light {
  font-weight: var(--roboto-light);
}

.font-regular {
  font-weight: var(--roboto-regular);
}

.font-medium {
  font-weight: var(--roboto-medium);
}

.font-bold {
  font-weight: var(--roboto-bold);
}

.font-black {
  font-weight: var(--roboto-black);
}

.font-italic {
  font-style: var(--roboto-italic);
}


.text-uppercase {
  text-transform: uppercase;
  // margin: 12px 0;
}

.text-center {
  text-align: center;
  margin: 12px 0;
}

footer {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  align-items: center;
  background-color: white;
  z-index: 1000;
}

app-home {
  width: 100%;
  display: flex;
}

app-design {
  width: 100%;
  display: flex;
}

app-pagenotfound {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

a {
  color: var(--color-button-default);
  cursor: pointer;
}


.content-container {
  display: flex;
  position: relative;
  top: 60px;
  width: 100%;

}



.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.checkbox-round {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: black;
}

textarea {
  resize: vertical;
}


.circle {
  height: 16px;
  width: 16px;
  display: flex;
  border-radius: 50px;
  border: 1px solid black;

  &.filled {
    background-color: black;
  }
}


input {
  display: flex;
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0 12px;
}

select {
  display: flex;
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0 12px;
  background-color: white;
}

textarea {
  display: flex;
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 12px;
}

a>i.icon {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

input {
  background-color: white;
}

textarea {
  background-color: white;
}


.color-white {
  color: white !important;
}