.design-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 24px 0;
    gap: 12px;
    justify-content: center;
    background: rgba($color: #007cba, $alpha: 1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 124, 186, 1) 55%);
}

.inner-carousel-container {
    // max-width: 730px;
    // display: flex;
    // position: relative;
    // margin: 0 auto;
    // width: 100%;

    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.design-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 12px 24px 12px;
    // max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    & * {
        color: white;
    }

    .inner-carousel-container {
        // max-width: 730px;
        // display: flex;
        // position: relative;
        // margin: 0 auto;
        // width: 100%;

        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        &.top-section {
            max-width: 800px;
        }
    }


}


.journeyAndFlows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 12px 24px 12px;
    // max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    & * {
        color: white;
    }

    .inner-carousel-container {
        // max-width: 730px;
        // display: flex;
        // position: relative;
        // margin: 0 auto;
        // width: 100%;

        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        &.top-section {
            max-width: 800px;
        }
    }

    .inner-container {
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }


}



.design-system-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 12px 24px 12px;
    // max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    margin: 24px 0;

    & * {
        color: white;
    }

    .inner-carousel-container {
        // max-width: 730px;
        // display: flex;
        // position: relative;
        // margin: 0 auto;
        // width: 100%;

        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 24px 0;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.user-flow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 12px 24px 12px;
    // max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    margin: 48px 0;

    & * {
        color: white;
    }

    .inner-carousel-container {
        // max-width: 730px;
        // display: flex;
        // position: relative;
        // margin: 0 auto;
        // width: 100%;

        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .inner-container {
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }

    p {

        max-width: 800px;
    }
}



.figma-work {
    padding: 36px 0;
    // margin-top: -12px;
    background-color: rgba($color: #001C29, $alpha: .6);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.46) inset;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.46) inset;
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.46) inset;

    p {
        color: white;
        max-width: 800px;
    }

    .inner-container {
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 12px;

    }
}


#figma-desktop-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    // padding-top: 62.50%;
    height: 800px;
    // height: 800px;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

#figma-mobile-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 425px;
    // padding-top: 56.25%;
    height: 900px;
    // height: 800px;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 425px;
        height: 100%;
    }
}

#figma-tablet-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    // padding-top: 56.25%;
    height: 900px;
    // height: 800px;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 800px;
        height: 100%;
    }
}

.bottom-container {
    padding: 48px 0;
}

@media screen and (max-width:559px) and (min-width: 320px) {
    ::ng-deep .carousel-container {
        height: 300px !important;
    }
}